---
- name: Set fact for monit
  set_fact:
    daemon: jenkins

- block:
    - name: Set monit config path
      set_fact:
        monitrc: /etc/monit/monitrc
    - name: apt | monit package
      apt: name=monit state=present
    - block:
        - name: set monit configuration for {{ daemon }}
          template: src={{ daemon }}-monit.j2 dest=/etc/monit/monitrc.d/{{ daemon }} mode=0644 backup=yes
          notify:
            - restart monit
        - name: enable monit {{ daemon }}
          file: src=/etc/monit/monitrc.d/{{ daemon }} dest=/etc/monit/conf.d/{{ daemon }} state=link
          notify:
            - restart monit

        - name: enable monit nginx
          file: src=/etc/monit/monitrc.d/nginx dest=/etc/monit/conf.d/nginx state=link
          notify:
            - restart monit

      when: ansible_distribution_release == 'trusty'
    - block:
        - name: set monit configuration for {{ daemon }}
          template: src={{ daemon }}-monit.j2 dest=/etc/monit/conf-available/{{ daemon }} mode=0644 backup=yes
          notify:
            - restart monit
        - name: enable monit {{ daemon }}
          file: src=/etc/monit/conf-available/{{ daemon }} dest=/etc/monit/conf-enabled/{{ daemon }} state=link
          notify:
            - restart monit
        - name: enable monit nginx
          file: src=/etc/monit/conf-available/nginx dest=/etc/monit/conf-enabled/nginx state=link
          notify:
            - restart monit
      when: ansible_distribution_release == 'xenial'
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'

- block:
    - name: Set monit config path
      set_fact:
        monitrc: /etc/monitrc
        monitconfd: /etc/monit.d
    - name: yum | monit package
      yum: name=monit state=present
  when: ansible_os_family == "RedHat"

- name: allow monit status/summary from localhost
  replace: dest={{ monitrc }} regexp={{ item.re }} replace={{ item.rep }}
  with_items:
    - { re: '^# set httpd port 2812 and', rep: ' set httpd port 2812 and' }
    - { re: '^#     use address localhost', rep: '     use address localhost' }
    - { re: '^#     allow localhost', rep: '     allow localhost' }
#    - { re: '^#     allow admin:monit', rep: '     allow admin:monit' }
