---
- name: restart nginx
  service: name={{ nginx_svc }} state=restarted
- name: restart monit
  service: name=monit state=restarted
- name: restart lxd
  service: name=lxd state=restarted
  when: (ansible_virtualization_type is not defined or not (ansible_virtualization_type == "lxc"))
## centos7/vagrant/virtualbox
  ignore_errors: true

- name: restart rsyslog
  service: name=rsyslog state=restarted
