#!/bin/sh
# {{ ansible_managed }}
## backup script for jenkins
## https://wiki.jenkins-ci.org/display/JENKINS/Administering+Jenkins
## http://www.holisticqa.com/2013/11/backing-up-your-jenkins-configuration/

export PATH=/usr/sbin:/usr/bin:/sbin:/bin
umask 022

date=`date +%Y-%m-%d`
dest={{ backupdir }}
f=$dest/backup-jenkins-$date.tar.gz

dirs="{{ jenkins_root }} \
    /var/log/jenkins \
    "

## exclude workspaces and plugins ?
tar czf $f \
    --exclude 'plugins/*/*' \
    --exclude 'config-history/*' \
    --exclude cache \
    --exclude workspace \
    $dirs
tar tzf $f > /dev/null
openssl dgst -sha512 $f > $f.distinfo

