# {{ ansible_managed }}
command[check_procs_jenkins]=/usr/lib/nagios/plugins/check_procs -u jenkins -C java -w 1:1 -c 1:1
command[check_procs_monit]=/usr/lib/nagios/plugins/check_procs -u root -C monit -w 1:1 -c 1:1
command[check_procs_nginx]=/usr/lib/nagios/plugins/check_procs -u www-data -C nginx -w 1:10 -c 1:20
