# {{ ansible_managed }}
## Nginx as a reverse-proxy for Jenkins, optionally Gitlab

{% if jenkins_gitlabce_combined is defined and jenkins_gitlabce_combined %}
upstream gitlab-workhorse {
  server unix:/home/git/gitlab/tmp/sockets/gitlab-workhorse.socket fail_timeout=0;
}

{% endif %}
## https://wiki.jenkins-ci.org/display/JENKINS/Jenkins+behind+an+NGinX+reverse+proxy
server {

{% if jenkins_public_https is defined and jenkins_public_https %}
    listen {{ jenkins_public_port }} ssl;
{#    include /etc/nginx/harden-nginx-https; #}
    ssl_certificate {{ jenkins_nginx_ssl_cert }};
    ssl_certificate_key {{ jenkins_nginx_ssl_key }};
    add_header Strict-Transport-Security "max-age=63072000; includeSubdomains; preload";
{% else %}
    listen {{ jenkins_public_port }};
{% endif %}
{% if jenkins_public_hostname is defined %}
    server_name {{ jenkins_public_hostname }};
{% endif %}
    server_tokens off;

    # https://chris408.com/post/junkins-helps-you-decrypt-jenkins-passwords/
    # https://github.com/chris408/junkins/
    location ~* ^/script.*$ {
        return 404;
    }

{% if jenkins_public_subfolder is defined and jenkins_public_subfolder %}
    location ^~ /{{ jenkins_url_prefix }} {
      access_log  /var/log/nginx/jenkins_access.log;
      error_log   /var/log/nginx/jenkins_error.log;
      # The following settings from https://wiki.jenkins-ci.org/display/JENKINS/Running+Hudson+behind+Nginx
      sendfile off;
      proxy_max_temp_file_size 0;
      #this is the maximum upload size
      client_max_body_size       10m;
      client_body_buffer_size    128k;

      proxy_connect_timeout      90;
      proxy_send_timeout         90;
      ## check not conflicting with other (gitlab use 300)
#      proxy_read_timeout         90;
      proxy_buffer_size          4k;
      proxy_buffers              4 32k;
      proxy_busy_buffers_size    64k;
      proxy_temp_file_write_size 64k;
{% else %}
    location / {
{% endif %}

      proxy_set_header        Host $host:$server_port;
      proxy_set_header        X-Real-IP $remote_addr;
      proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header        X-Forwarded-Proto $scheme;

      proxy_hide_header       x-required-permission;
      proxy_hide_header       x-hudson-cli-port;
      proxy_hide_header       x-jenkins;
      proxy_hide_header       x-jenkins-cli2-port;
      proxy_hide_header       x-you-are-authenticated-as;
      proxy_hide_header       x-you-are-in-group;
      proxy_hide_header       x-jenkins-cli-port;
      proxy_hide_header       x-permission-implied-by;
      proxy_hide_header       x-hudson;
      proxy_hide_header       x-jenkins-session;

      add_header              X-Frame-Options SAMEORIGIN;
      add_header              X-Content-Type-Options nosniff;
      add_header              X-XSS-Protection "1; mode=block";

{% if jenkins_public_https is defined %}
      # Rewrite HTTPS requests from WAN to HTTP requests on LAN
      proxy_redirect http:// https://;
{% endif %}
      # Fix the "It appears that your reverse proxy set up is broken" error.
      proxy_pass          http://127.0.0.1:{{ jenkins_http_port }};
      proxy_read_timeout  90;

{% if jenkins_public_hostname is defined and jenkins_public_https is defined and jenkins_public_https %}
      proxy_redirect      http://127.0.0.1:{{ jenkins_http_port }} https://{{ jenkins_public_hostname }}:{{ jenkins_public_port }};
{% else %}
      proxy_redirect      http://127.0.0.1:{{ jenkins_http_port }} http://{{ jenkins_public_hostname }}:{{ jenkins_public_port }};
{% endif %}
    }

{% if jenkins_gitlabce_combined is defined and jenkins_gitlabce_combined %}
## https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/doc/settings/nginx.md
## FIXME! not supported by default, https://github.com/gitlabhq/gitlabhq/issues/1950
    location /gitlab {
      access_log  /var/log/nginx/gitlab_access.log;
      error_log   /var/log/nginx/gitlab_error.log;
      client_max_body_size 0;
      gzip off;

      ## https://github.com/gitlabhq/gitlabhq/issues/694
      ## Some requests take more than 30 seconds.
      proxy_read_timeout      300;
      proxy_connect_timeout   300;
      proxy_redirect          off;

      proxy_http_version 1.1;
      proxy_set_header        Host $host:$server_port;
      proxy_set_header    X-Forwarded-Host    "";

      proxy_set_header    X-Real-IP           $remote_addr;
      proxy_set_header    X-Forwarded-For     $proxy_add_x_forwarded_for;
      proxy_set_header    X-Forwarded-Proto   $scheme;

      proxy_pass http://gitlab-workhorse;

      error_page 404 /404.html;
      error_page 422 /422.html;
      error_page 500 /500.html;
      error_page 502 /502.html;
      error_page 503 /503.html;
    }

    location ~ ^/(404|422|500|502|503)\.html$ {
      root /home/git/gitlab/public;
      internal;
    }

{% endif %}
  }

